html, body, canvas{
  margin: 0 !important;
  padding: 0 !important;
}

html, body {
  width: 100%;
  height: 100%;
}

#imageDiv{
  display:none;
}

#health{
 background-color:green;
 position:absolute;
 left: 125px;
 top: 400px;
 width: 160px;
}

.enemyHealthBar {
  background-color: green;
  position: absolute;
  width: 30px;
  height: 6px;
}

.chatbox {
    position: absolute;
    width: 300px;
    height: 320px;
    background: rgba(255, 255, 255, 0.1);
    bottom: 5px;
    left: 5px;
    border-radius: 5px;
    pointer-events: none;
}

.chatbox .chat-list {
    padding: 5px;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    height: 285px;
    overflow: hidden;
}

.chatbox .chat-list li {
    padding: 2px;
    margin: 3px;
}

.chatbox .chat-input {
    pointer-events: all;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    background: transparent;
    border: none;
    border-top: 1px solid #DDD;
    outline: none;
    color: white;
}

#keys ul li {
  color: white;
}

#keyButton {
  position: absolute;
  top: 170px; 
  left: 10px;
  border-radius:3px;
  background: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#keys {
  position: absolute;
  width: 250px; 
  visibility: hidden;
  left:5px;
  top:220px;
}

/*#chatList, #chatInput{
  font-family: , Charcoal, sans-serif;
}*/
